/* cositas de header*/

.banner {
    background-image: url("../img/Mareadegente.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px; 
    padding: 50px;
    }
  
    .titulo {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 1rem;
      justify-content: center;
      }
  