/* cositas  generales */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {

    background-color: #a5a94d;

  }
  } 



body {

  background-color: #F7FF58;
  
  }
  


  
img {

width: 100%;
}

